.top_line {
    height: 43px;
    background-color: #e1e1e1;
}
.top_phone {
    float: left;
}
.search {
    float: right;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 5px;
    border: 1px solid #9f9f9f;
}
.search input {
    float: left;
    height: 29px;
    text-indent: 13px;
    outline: none;
    border: none;
}
.sub_b {
    float: left;
    height: 29px;
    width: 69px;
}
.sub_b button {
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: #fff;
    width: 68px;
    height: 31px;
    outline: none;
    font-size: 11px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: 0px 4px;
    font-family: "PTSansRegular";
    font-size: 12px;
}
.top_phone span {
    font-family: "PTSansRegular";
    font-size: 12px;
    color: #3d3d3d;
    line-height: 42px;
    margin-right: 10px;
}
::-webkit-input-placeholder {color:#969696;font-family: "PTSansRegular";font-size: 12px;}
::-moz-placeholder          {color:#969696;font-family: "PTSansRegular";font-size: 12px}/* Firefox 19+ */
:-moz-placeholder           {color:#969696;font-family: "PTSansRegular";font-size: 12px}/* Firefox 18- */
:-ms-input-placeholder      {color:#969696;font-family: "PTSansRegular";font-size: 12px}
.logo_menu {
    margin: 24px 0px;
    /* overflow: hidden; */
}
.logo {
    float: left;
    overflow: hidden;
    margin-bottom: 24px;
}
.menu {
    float: left;
    margin-top: 10px;
    margin-left: 50px;
}

.top_menu li {
    float: left;
    color: #fff;
    position: relative;
}
.content_des_img.fl_r {
    float: right;
}
.top_menu li a {
    font-family: "PTSansRegular";
    font-size: 14px;
    color: #797979;
    width: 120px;
    text-align: center;
    background-repeat: no-repeat;
    height: 24px;
    line-height: 23px;
    display: block;
}
.top_menu li a:HOVER{color: #fff;
    background-color: #087D36;}
.top_menu li a.active {
    /* background-image: url(../img/active.png); */
    color: #fff;
    /* border-radius: 52px 3px; */
    background-color: #087D36;
}
/*content*/
.container {
    overflow: hidden;
    clear: both;
    margin-top: 20px;
}
.content {
    width: 875px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
}
.content_des {
    overflow: hidden;
    margin-bottom: 38px;
}
.content_des_img {
    width: 254px;
    height: 172px;
    float: left;
    overflow: hidden;
    margin: 0 10px;
}
.content_des p {
    font-family: "PTSansRegular";
    color: #5a5a5a;
    font-size: 14px;
    margin-bottom: 22px;
}
.content_des_title {
    font-family: "PTSansBOld";
    color: #1f7941;
    margin-bottom: 20px;
    padding-bottom: 2px;
    overflow: hidden;
    border-bottom: 1px solid #1F7941;
}
.content_item_container {
    overflow: hidden;
    margin-bottom: 30px;
}
.content_item {
    width: 201px;
    float: left;
    margin-right: 23px;
}
.content_item:last-child {
    margin-right: 0px;
}
.content_item_title {
    font-family: "PTSansBold";
    color: #1f7941;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 10px;
}
.content_item p {
    font-family: "PTSansRegular";
    text-align: justify;
    font-size: 14px;
    line-height: 16px;
    color: #5a5a5a;
}
.product_item_container {
    overflow: hidden;
    margin: 20px 0px 5px;
}
.product_item {
    width: 430px;
    height: 144px;
    float: left;
    margin-right: 15px;
    overflow: hidden;
    margin-bottom: 15px;
}
.product_item:nth-child(2n) {
    margin-right: 0px;
}
.product_item_img {
    width: 210px;
    height: 144px;
    float: left;
    background-color: #000;
    margin-right: 16px;
}
.product_item p {
    font-family: "PTSansRegular";
    font-size: 14px;
    line-height: 17px;
}

.content_item_title.product_title {
    text-align: left;
}
.content_item_title a {
    color: #1f7941;
	text-decoration: underline;
}
.content_item_title a:hover {
    text-decoration:none;
}
/*content end*/
/*side_bar */
.side_bar {
    width: 295px;
    float: left;
}
.news_item {
    height: 85px;
    overflow: hidden;
    margin-bottom: 20px;
}
.news_item_img {
    width: 142px;
    height: 86px;
    overflow: hidden;
    float: left;
    margin-right: 14px;
    margin-top: 3px;
}
.news_item_title {
    overflow: hidden;
    margin-bottom: 7px;
}
.news_item_title a:hover {
    text-decoration: underline;
}
.news_item_title a {
    font-family: "PTSansRegular";
    color: #1f7941;
    font-size: 14px;
    line-height: 16px;
}
.news_item p {
    font-family: "PTSansRegular";
    font-size: 14px;
    color: #9f9f9f;
    line-height: 15px;
}
/*Отзыв*/
.review_item {
    font-family: PTSansRegular;
    font-size: 14px;
    color: #585858;
}

.review_name {
    font-family: "PTSansRegular";
    color: #1f7941;
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 10px;
}
.review_item_info {
    height: 85px;
    overflow: hidden;
    margin-bottom: 12px;
}
.review_text p {
    text-align: justify;
    line-height: 16px;
}
.review_text {
    height: 96px;
    overflow: hidden;
    text-align: justify;
    margin-bottom: 15px;
}
.review_button {
    width: 120px;
    height: 25px;
    background-color: #087D36;
    color: #fff;
    line-height: 25px;
    text-align: center;
    border-radius: 50px;
    font-family: "PTSansRegular";
    font-size: 12px;
}
.review_button:hover {
    text-decoration: underline;
    background-color: #31AB61;
}
/*отзыв конец*/
/*side_bar end*/
/*about*/
.content_about_title {
    font-family: "PTSansBOld";
    color: #1f7941;
    margin-bottom: 20px;
    padding-bottom: 2px;
}
.content_about p {
    font-family: "PTSansRegular";
    font-size: 14px;
    color: #9f9f9f;
    line-height: 15px;
    margin-bottom: 11px;
}
/*about end*/
/*side bar*/
.left_side_bar {
    width: 297px;
    float: left;
    margin-right: 27px;
}
.content_uslugi {
    overflow: hidden;
}
.content_uslugi p {
    font-family: "PTSansRegular";
    font-size: 14px;
    color: #9f9f9f;
    line-height: 15px;
    margin-bottom: 11px;
}
.uslugi li {
    margin-bottom: 12px;
}
.uslugi li a {
    color: #5a5a5a;
    font-size: 14px;
    font-family: "PTSansRegular";
    /* margin-bottom: 12px; */
}
.uslugi li:hover a{
    color:#087d36;
    text-decoration: underline;
}
/*left end*/
/*footer*/
.footer {
    padding: 24px 0px;
    overflow: hidden;
    clear: both;
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #087d36;
}
.razrabotano {
    display: inline-block;
    font-family: "PTSansRegular";
    color: #454545;
    font-size: 14px;
}
.yandex_metrika {
    float: right;
    margin-top: 7px;
}
.razrabotano p {
    margin: 6px 0px;
}
footer {
    clear: both;
    overflow: hidden;
}
/*footer end*/
.mini-menu {
    overflow: hidden;
    font-family: "PTSansRegular";
    font-size: 14px;
    color: #087d36;
    MARGIN-BOTTOM: 12PX;
}
.mini-menu ul {
    list-style: none;
    margin: 0;
    padding:0;
    text-align:left;
}
.mini-menu > ul > li {
    position: relative;
}
.mini-menu > ul > li > a {
    display: block;
    color: #087d36;
    margin-bottom: 8px;
}
.mini-menu > ul > li > a:hover,
.mini-menu > ul > li > a.active {
    color: #087d36;
    text-decoration: underline;
}
.mini-menu .sub > ul > li > a:hover,
.mini-menu .sub > ul > li > a.active{
	color: #087d36;
    text-decoration: underline;
}
.mini-menu .sub > ul {
    counter-reset: items;
    height: 0;
    overflow: hidden;
}
.mini-menu .sub > ul > li > a {
    /* counter-increment: items; */
    color: #5a5a5a;
    font-size: 14px;
    display: block;
    /* text-decoration: none; */
    /* padding: .7em 1em; */
    /* border-bottom: 1px dotted #bababa; */
    margin: 7px 18px;
    /* padding: 5px 10px; */
    font-family: "PTSansRegular";
}

.mini-menu .sub > ul > li > a:after{
    content: "• ";
	list-style:disc;
	list-style-position:outside;
    float: left;
    margin-right:6px;
    line-height: 12px;
}

.top_menu li:hover #menu_body {
    display: block;
}
.top_menu li:hover a{
	color:#fff;
}

#menu_body li ul {
	display: none;
	}
#menu_body li:hover ul, #menu_body li.over ul {
	display: block;
	}
#menu_body {
    height: 500px;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 22;
    background-color: rgba(255, 255, 255, 0);
    display: none;
}
#menu_body ul {
    top: 11px;
    left: 0;
    position: absolute;
    background: #087D36;
}
#menu_body ul >li > ul {
    top: -10px;
    left: 117px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
}




#menu_body ul:before {
    position: absolute;
    top: -10px;
    left: 51px;
    content: "";
    border: 6px solid transparent;
    border-bottom: 7px solid rgb(8, 125, 54);
    display: block;
    width: 0;
    height: 0;
}
#menu_body ul >li > ul:before {
    position: absolute;
    top: 18px;
    left: 1px;
    content: "";
    border: 4px solid transparent;
    border-right: 5px solid #1fa755;
    display: block;
    width: 0;
    height: 0;
}
#menu_body ul li a:hover {

    text-decoration: underline;

    } 

#menu_body ul li ul li {
    border: 0;
    background: #1fa755;
    width: 120px;
}
#menu_body ul li ul li :HOVER {
    color: #fff;
    background-color: #1fa755;
}
/*проекты*/
.project_item {
    overflow: hidden;
    margin-bottom: 10px;
}
.project_item_img {
    width: 255px;
    height: 174px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}
.top_menu li:hover {
    background-color: #087D36;
}
.project_item_title {
    font-family: "PTSansBOld";
    font-size: 16px;
    color: #1f7941;
    margin-bottom: 20px;
}
.project_item_title a {
    color: #1f7941;
}
.project_item_title:hover a {
    text-decoration:underline;
}

/*проекты конец*/
/*product*/
.products_item {
    width: 50%;
    text-align: center;
    float: left;
    margin: 20px 0px;
}
.products_title {
    color: #1f7941;
    font-family: "PTSansBold";
    margin-top: 10px;
    display: block;
}
.product_container {
    padding: 0 85px;
}
.products_title:hover {
    text-decoration: underline;
}
/*product end*/